* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #333;
}
section h2 {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  line-height: 100vh;
  font-size: 10vw;
  color: #fff;
  font-weight: 700;
}
.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.banner .blocks {
  position: relative;
  display: block;
  width: 5vw;
  height: 5vh;
  background-image: url("https://images.unsplash.com/photo-1611424564067-12d778fc6c22?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw2NXx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1440&q=60");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  opacity: 0;
  animation: animate 0.75s ease-in-out forwards;
}
.banner .blocks:nth-child(even) {
  animation: animate 1s ease-in-out forwards;
}
.banner .blocks:nth-child(7n + 3) {
  animation: animate 2.5s ease-in-out forwards;
}
.banner .blocks:nth-child(7n + 7) {
  animation: animate 1.5s ease-in-out forwards;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(1000px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
